.idea/*
__pycache__/
.pytest_cache/
**/.pytest_cache/
*.py[oc]
build/
dist/
wheels/
*.egg-info

.env
.venv/

**/.terraform/*

*.tfstate
*.tfstate.*

*.tfvars

.terraformrc
terraform.rc
.venv_aoss/
.terraform.lock.hcl
.terraform/
**/__pycache__/
**/__pycache__/*    
**/.terraform/*
.DS_Store
terraform_outputs.json
data/
